.r {
     margin: 18% 33%;
     width: 1700px;

   }

   /* Add padding BETWEEN each column (if you want) */
.r,
.r > .c2{
     padding: 5px;
   }

   /* Create three equal columns that floats next to each other */
.c2 {
     float: left;
     width: 30%;
     display: table-cell;
   }
